.aboutRow {
  display: flex !important;
  grid-template-columns: 1fr !important;
}

.about-main-Logo {
  width: 250px;
  transform: translateX(-10px);
}

.about-info-ncloud {
  font-family: "productSans" !important;
  line-height: 25px;
  word-spacing: 1px;
}

.about-sub-head {
  color: var(--purple) !important;
}

.tech-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 10px;
  img {
    height: 30px;

    transition: all 400ms ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  i {
    font-size: 25px;
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: "productSans_bold";
    letter-spacing: 1px;
    color: var(--sub-text-color);
    transition: color 300ms ease;
    &:hover {
      color: var(--purple);
    }
  }
}

.scrollable {
  overflow-y: visible;
  height: 500px;
}
