

.listElement{
    position: relative;
    //min-height: 70px;
    border-radius: 7px;
    background: var(--list-bg);
    margin-bottom: 20px;
    transition: filter 300ms;
    &:hover{
        filter: brightness(var(--brightness-filter));
        cursor: pointer;
    }

    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    .title{
        font-family: steradian_regular;
        letter-spacing: 1px;
        max-width: 80%;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        color: var(--sub-text-color);
        font-size: 15px;

    }
    .bar{
        //background: red;
        display: grid;
        place-items: center;
        i{
            padding: 5px;
            font-size: 25px;
            
        }

        .btnON{
            color: var(--sub-text-color);
            opacity: .5;
            filter: unset;
            transition: filter 1000ms ease-out, color 1000ms, opacity 1000ms;
        }

        .checkbox:checked + .toggle { 
            .btnON{
                opacity: 1;
                color: var(--cyan);
                filter: drop-shadow(0px 0px 12px var(--text-color));
            }
        }
        
        input[type="checkbox"]{
            display: none;
        }
        
    }

    .invisibleButton{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
}