@import './base.scss';

button, input, input[type='button']{
    background: var(--purple);
    border: 0;
    border-radius: .2em;
    outline: none;
    font-family: productSans_bold;
    font-size: 15px;
    padding: .5em 1.2em .5em 1.2em;
    transition: transform 300ms;
    box-shadow: 0px 5px 10px #00000010;
    &:hover{
        filter:opacity(.9);
    }
    &:active{
        transform: scale(.7);
    }
}

input:not([type='button']){
    background: var(--list-bg);
    color: var(--sub-text-color);
    letter-spacing: 1px;
    &:hover{
        filter:opacity(.9);
    }
    &:active{
        transform: unset;
    }
}


i{
    padding: 5px;
    font-size: 25px;
    
}

.btnON{
    color: var(--sub-text-color);
    opacity: .5;
    filter: unset;
    transition: filter 1000ms ease-out, color 1000ms, opacity 1000ms;
}

.checkbox:checked + .toggle { 
    .btnON{
        opacity: 1;
        color: var(--cyan);
        filter: drop-shadow(0px 0px 12px var(--text-color));
    }
}

input[type="checkbox"]{
    display: none;
}


.barBtn{
    margin-left: 15px;
}


.nasconsole{
    position: fixed;
    height: calc(100% - 60px);
    min-width: calc(400px - 60px);
    width: calc(60% - 60px);
    max-width: calc(700px - 60px);
    background: var(--backgroundColor);
    right: 0;
    z-index: 1;
    padding: 30px;
    box-shadow: -20px 0px 20px #ffffff05;
    transition: transform 280ms;
    .sectionTitle{
        width: 100%;
        height: 70px;
        font-family: steradian_bold;
        font-size: 2rem;
        user-select: none;
    }
    .clrBtn{
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
    }
    .debugContainer{
        color: var(--sub-text-color);
        font-family: 'mono';
        width: 100%;
        height: calc(100% - 60px);
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track{
            background: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background: var(--subBackgroundColor);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--purple);
        }

        span{
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 14px;
            color: var(--backgroundColor);
            float: right;
        }
        div{
            word-wrap: break-word;
            margin-bottom: 5px;
        }
    }
    
}
.Nright{
    transform: translateX(100%);
}









.overlayContainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--semi-transparent);
    display: grid;
    place-items: center;
    transition: opacity 280ms;
    z-index: 69;

    

    .ocontainer{
        min-width: 800px;
        width: 50vw;
        height: 70vh;
        border-radius: 5px;
        background: var(--backgroundColor);

        padding: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: 0px 10px 30px #00000031;
        pointer-events: all;

        .loading{
            position: absolute;
            background: var(--backgroundColor);
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border-radius: 3px;
            
            display: grid;
            place-items: center;
            transition: opacity 280ms;

            .loadingBG{
                width: 400px;
                height: 3px;
                background: var(--subBackgroundColor);
                .bar{
                    height: inherit;
                    width: 20%;
                    background: var(--purple);
                    border-radius: 50px;
                    transform-origin: right;
                    animation: loading 3000ms infinite;
                }
            }
        }
        
        .topBar{
            //background: red;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            z-index: 9999;

            i{
                font-size: 1.5rem;
                color: var(--purple);
                padding: 5px;
                border-radius: 4px;
                transition: background 300ms;
                &:hover{
                    background: var(--list-bg);
                }
            }
        }

        .bottomBar{
            width: calc(100% - 20px);
            padding: 10px;
        }

        .confirmHead{
            width: calc(100% - 20px);
            padding: 0px 10px 10px 10px;
            font-family: steradian_bold;
            font-size: 25px;
            letter-spacing: 1px;
        }
        .confirmInfo{
            width: 70%;
            padding: 0px 10px 10px 10px;
            font-family: productSans;
            letter-spacing: 1px;
            line-height: 1.5rem;
            font-size: 16px;
            color: var(--sub-text-color);
        }



        .actionBar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 0px 10px;
            div{
                z-index: 99;
            }
        }

        .list{
            height: auto;
            padding: 0px 20px 0px 20px;
            display: flex;
            flex-direction: column;

            

            .row{
                display: grid;
                grid-template-columns: 1fr .5fr .4fr .6fr;
                place-items: center;
                color: var(--sub-text-color);
                padding: 10px 0px 10px 0px;
                font-family: productSans_bold;
                letter-spacing: 1px;
                border-radius: 5px;
                margin-bottom: 10px;
                user-select: none;
                gap: 20px;

                &:hover{
                    background: var(--subBackgroundColor);
                    color: var(--purple);
                }
                .col{
                    width: 100%;
                    padding-left: 50px;
                    text-align: left;  
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .colAction{
                    width: 100%;
                    text-align: center;

                    .btnON{
                        color: var(--sub-text-color);
                        opacity: .5;
                        filter: unset;
                        transition: filter 1000ms ease-out, color 1000ms, opacity 1000ms;
                    }
                    
                    .checkbox:checked + .toggle { 
                        .btnON{
                            opacity: 1;
                            color: var(--yellow);
                            filter: drop-shadow(0px 0px 2px var(--sub-text-color));
                        }
                    }
                }
                i{
                    margin-top: 10px;
                    margin-right: 10px;
                    font-size: 18px;
                    &:hover{
                        cursor: pointer;
                        color: var(--yellow);
                    }

                    &:active{
                        filter: brightness(.8);
                    }
                }
            }

            .pendingUserRow{
                grid-template-columns: 1.5fr .6fr .6fr;
            }

            .addServerRow{
                grid-template-columns: repeat(10, 1fr);
            }

            .active{
                border-bottom: 1px solid #95acff5b;
            }
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: var(--subBackgroundColor);
            }
            &::-webkit-scrollbar-thumb {
                background: var(--purple);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover{
                filter: brightness(var(--brightness-filter));
            }
              
        }

        .listHead{
            padding: 10px 20px 0px 20px;
            margin-bottom: 0px;
            
            .row{
                color: var(--yellow);
                &:hover{
                    background: unset;
                    color: var(--yellow);
                }

                .col{
                    cursor: pointer;
                    &:hover{
                        color: var(--purple);
                    }
                }
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }

        .addServer{
            .row{
                gap: 0px;
                margin-bottom: 0px;
                &:hover{
                    background: unset;
                }
                label, p{
                    width: 100%;
                    grid-column: span 10;
                    padding: 0;
                    display: flex;
                    
                }
                input[type='checkbox']{
                    width: 100%;
                    grid-column: span 1;
                }
                input[type='checkbox'] + label{
                    width: 100%;
                    grid-column: span 5;
                }
                input[type='checkbox']:checked + label{
                    color: var(--cyan);
                }
            }
            .buttonRow{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                button, input[type='button']{
                    margin-left: 20px;
                }
            }
            input{
                grid-column: span 0;
            }
            input[type='checkbox']{
                display: unset;
            }
            overflow: hidden;
        }


        
    }

    .oAddServerContainer{
        height: auto;
        min-width: unset;
        width: 600px;
    }

    .oConfimContainer{
        min-width: unset;
        max-width: 500px;
        width: 50vw;
        height: auto;
        border-radius: 5px;
        background: var(--backgroundColor);
    }
}
  



.hide{
    display: none;
    opacity: 0;
}

