.info {
  max-width: 50%;
  height: auto;
  background: var(--list-bg);
  border-radius: 5px;

  div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--sub-text-color);
    font-family: "mono";
    font-size: 20px;
    i {
      color: var(--purple);
      font-size: 30px;
      margin-right: 10px;
    }
  }
}
.hostinfo {
  max-width: unset;
  margin-top: 0;
  margin-bottom: 20px;
  height: 200px;
  min-width: 340px;
  width: min-content;
  div {
    font-size: 15px;
    margin-left: 5px;
    i {
      font-size: 25px;
    }
  }
  .hostOptions {
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: unset;
    i {
      font-size: 20px;
      padding: 10px;
      background: var(--list-bg);
      filter: brightness(var(--brightness-filter));
      border-radius: 5px;
      cursor: pointer;
      transition: color 280ms, transform 280ms;

      &:hover {
        color: var(--cyan);
        transform: translateY(-2px);
      }

      &:active {
        color: var(--cyan);
        transform: translateY(-2px) scale(0.8);
      }
      &:first-child {
        margin-left: 5px;
      }
    }

    .red {
      color: var(--red) !important;
      &:hover {
        color: var(--red) !important;
        transform: translateY(-2px);
      }
      &:active {
        color: var(--red);
        transform: translateY(-2px) scale(0.8);
      }
    }

    .autoHideBtn {
      padding: 10px;
      margin: 0;
      margin-right: 10px;
      width: auto;
      background: var(--list-bg) !important;
      filter: brightness(var(--brightness-filter));
      border-radius: 5px;
      cursor: pointer;

      i {
        padding: unset;
        margin: unset;
        filter: none;

        &:hover {
          transform: none;
        }
      }

      div {
        padding: 0;
        margin: 0;
        font-family: "productSans_Bold";
        font-size: 14px;
        padding-right: 0px;
        padding-left: 0px;
        user-select: none;
        width: max-content;
        max-width: 0px;
        opacity: 0;
        word-break: keep-all;
        word-wrap: none;
        transition: max-width 400ms 100ms ease, opacity 400ms 100ms ease,
          padding-right 400ms 100ms ease, padding-left 400ms 100ms ease;
      }

      transition: width 400ms 100ms ease;

      &:hover {
        div {
          opacity: 100;
          max-width: 70px;
          padding-right: 8px;
          padding-left: 12px;
        }
      }
    }
  }
}
.hostAdd {
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: filter 300ms, transform 300ms;
  height: 200px;
  i {
    font-size: 50px;
  }
  &:hover {
    filter: brightness(var(--brightness-filter));
  }
  &:active {
    transform: scale(0.9);
  }
}
.subtitle {
  margin-top: 50px !important;
  font-size: 30px !important;
  height: auto !important;
  min-height: 60px !important;
}
